<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="5"
      android:versionName="1.00.1" package="mobi.omegacentauri.FastLaunch"
      >

    <!--   			  android:configChanges="keyboard|keyboardHidden|orientation" -->

    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="mobi.omegacentauri.FastLaunch.Popup"
            android:theme="@android:style/Theme.Dialog"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH_LONG_PRESS" />
                <category android:name="android.intent.category.DEFAULT" /> 
            </intent-filter>
        </activity>
 		<activity android:name=".Options" android:label="Options" />  
        <activity android:name="mobi.omegacentauri.FastLaunch.Apps"
      			  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:launchMode="singleTask"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
     <uses-sdk android:minSdkVersion="4" />
     <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
     <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
     <uses-permission android:name="android.permission.BLUETOOTH"/>
     <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/> 
        <uses-permission android:name="android.permission.RESTART_PACKAGES" />
        <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
        
</manifest>